.App {
  text-align: center;
}

.container-fluid {
  background-color: #e2e2e2;

}
body {
    padding-top: 3.9%;
    margin: 0;
}


img {
  padding:0;

}
.mainContent {
  margin-top: 4.5%;
}

.card {
  min-height: 80%;
  margin-bottom: 5%;
}
button {
  cursor: pointer;
}
.bodyButton {
  margin: auto;
}



.cardText{
  position: absolute;
  top: 35%;
  text-shadow: 1px 1px 1px #000000;
   left: 10%;
   width: 75%;
   color: white;
}
.author {
  text-align: left;
}
.sectionTitle {
  margin: auto;
}
.moreLink {
  border: 5px solid red;
  margin:auto;
  margin-bottom: 2%;
  color: red;
  width: 50%;
}
.moreLink:hover{
  border: 7px solid red;
  background-color: red;
  color: white;
}
a {
  text-decoration: none;

}
.navbar{

  background-color: #e2e2e2;
}

.nav {
  margin: auto;

}